.admin-container
  %h1 在庫管理
  %br/
  = form_with url: stocks_path,method: :put do |f|
    - @foods.each do |food|
      .list-wrapper
        %p #{food[:name]}
        = f.fields_for "foods[]", food do |ff|
          = ff.text_field :stock
          %br/
    = f.submit "在庫数更新",class:"sub-button"
= render "shared/admin_nav"