.main-image-container#top_container
  = render "shared/header"
.top_container
  .page-title.page-title__home
    南小岩の
    %br
    こだわりもつ焼
  =image_tag "fude_sen.png", class: "fude-sen"
  .link_container
    .link-wrapper
      =link_to pages_menu_path do
        .link-box.link-box__menu
          .link-box__wrapper
          %p
            品
      .link-explanation
        お品書き
    .link-wrapper
      =link_to pages_pride_path do
        .link-box.link-box__pride
          .link-box__wrapper
          %p
            想
      .link-explanation
        こだわり
    .link-wrapper
      =link_to pages_contact_path do
        .link-box.link-box__contact
          .link-box__wrapper
          %p
            導
      .link-explanation
        アクセス
    .link-wrapper
      =link_to pages_gallery_path do
        .link-box.link-box__shop
          .link-box__wrapper
          %p
            画
      .link-explanation
        ギャラリー
  - if @notice[0]
    .notice-container
      .notice-image
        =image_tag "noren_sozai.png", class: "noren-sozai"
        .notice-title#news
          NEWS
      .notice-middle-text
        お知らせなど日々更新中！！
      - @notice.each do |notice|
        =link_to "/pages/notice/#{notice.id}", class: "notice-link" do
          .each-notice
            .notice-date
              #{notice.created_at.strftime('%Y/%m/%d')}
            .notice-title
              #{notice.title}
            .notice-content
              #{notice.content}
  .video_container
    %h1.video-title-text UEMURA Introduction Movie
    .video-middle-text
      %h2 店舗までの道のりや、店内の雰囲気を
      %h2 動画でわかりやすくご紹介します
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "100%", :src => "https://www.youtube.com/embed/s5UvOYQ4Rpc", :width => "80%"}
  .photo_container
    .sliderArea
      .full-screen.slider
        %div
          =image_tag "uemuradish1.png"
        %div
          =image_tag "uemuradish2.png"
        %div
          =image_tag "uemuradish3.png"
        %div
          =image_tag "uemuradish4.png"
        %div
          =image_tag "uemuradish5.png"
    %p._a
      %a.link{:href => "https://125naroom.com/demo/slick.html#s_10", :target => "_blank"}
= render "shared/footer"
= render "shared/back-to-top-button"