.main-image-container#top_container
  = render "shared/header"
.top_container
  .video_container
    %h1.video-title-text UEMURA Introduction Movie
    .video-middle-text
      %h2 店舗までの道のりや、店内の雰囲気を
      %h2 動画でわかりやすくご紹介します
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "100%", :src => "https://www.youtube.com/embed/s5UvOYQ4Rpc", :width => "80%"}
  - if @notice[0]
    .notice-container
      .notice-image
        =image_tag "noren_sozai.png", class: "noren-sozai"
        .notice-title
          NEWS
      .notice-middle-text
        お知らせなど日々更新中！！
      - @notice.each do |notice|
        =link_to "/pages/notice/#{notice.id}", class: "notice-link" do
          .each-notice
            .notice-date
              #{notice.created_at.strftime('%Y/%m/%d')}
            .notice-title
              #{notice.title}
            .notice-content
              #{notice.content}
  .photo_container
    %h1.photo-title-text
      植むらの一押し料理
    .sliderArea
      .full-screen.slider
        %div
          =image_tag "uemuradish1.png"
        %div
          =image_tag "uemuradish2.png"
        %div
          =image_tag "uemuradish3.png"
        %div
          =image_tag "uemuradish4.png"
        %div
          =image_tag "uemuradish5.png"
    %p._a
      %a.link{:href => "https://125naroom.com/demo/slick.html#s_10", :target => "_blank"}
= render "shared/footer"
= render "shared/back-to-top-button"