%h1 受注オーダー

%table
  %tr
    %th お名前
    %th 住所
    %th 電話番号
    %th 総額
    %th
  - TimeManagement.all.each do |t|
    - if Order.find_by(time_management_id: t.id).present?
    - order = Order.find_by(time_management_id: t.id)
      %tr
        %td #{order[:name]}
        %td #{order[:address]}
        %td #{order[:tel]}
        %td ¥ #{order[:total_price]} -
        %td #{link_to "詳細",order_path(order)}

