.admin-container
  %h1 受注オーダー 一覧

  -# %table
  -#   %tr
  -#     %th 配達時間
  -#     %th お名前
  -#     %th 住所
  -#     %th 電話番号
  -#     %th 総額
  -#     %th
  - TimeManagement.all.each do |t|
    - if Order.find_by(time_management_id: t.id).present?
    - order = Order.find_by(time_management_id: t.id)
      .order_table{data:{order_id: order.id}}
        %p <配達時間> #{t[:time_zone]}
        %p <お名前> #{order[:name]}様
        %p <住所> #{order[:address]}
        %p <電話番号> #{order[:tel]}
        %p <合計金額> ¥ #{order[:total_price]} -
        %p <受注時間> #{order[:created_at].strftime("%m-%d %H:%M")}
        = link_to "詳細",order_path(order), class: "sub-button"
  %br/
= render "shared/admin_nav"