.show-container
  %h1 ご注文有り難うございます!!
  %h2.red-text こちらの画面は保存して下さい

  .customer-details
    %p ＜お届け先＞
    %p #{@order[:name]} 様
    %p 〒 #{@order[:address]}
    %p Tel #{@order[:tel]}

  %p ＜ご注文内容＞
  -@food_orders.each do |f|
    - if f.food[:genre] == "揚げ物" || f.food[:genre] == "お刺身" || f.food[:genre] == "一品料理"
      %p ・#{f.food[:name]} #{f[:taste]} #{f[:count]}つ : ¥ #{f.food[:price] * f[:count]} -
    - else
      %p ・#{f.food[:name]} #{f[:taste]} #{f[:count]}本 : ¥ #{f.food[:price] * f[:count]} -
  %h2.total-price 総額 ¥ #{@order[:total_price]} -

  %p ＜お届け時間帯＞
  %p #{@time[:time_zone]}
  
  %h4 No.#{@order[:id]} #{@order[:created_at].strftime("%Y-%m-%d %H:%M")}

- if user_signed_in?
  .button-wrapper
    = link_to "完了",done_order_path(@order),method: :delete,class:"admin-button"
    =link_to "オーダー一覧",orders_path,class:"admin-button"
- else
  = link_to orders_menu_path do
    .re-order-button
      再注文
  %p.show-number 店舗Tel 03-5668-9494

