.top_container#top_container
  = render "shared/header"
  .image-wrapper
    =image_tag "uemuramenu.png"
  .page-title
    お品書き
  =image_tag "fude_sen.png", class: "fude-sen"
  .paper-background
    .details-container
      .menu-sub-title
        ＜料理＞
      .notice-text-sd
        （串類は一人前・二本からのご注文となります）
      .box-wrapper
        .List-box
          .list-title
            豚もつ
          .notice-text
            （二本からのご注文となります）
          - @foods.first(14).each do |food|
            .item-box
              %p
                #{food.name}
              %p.price
                #{food.price}yen
          .list-title
            とり・その他
          .notice-text
            （二本からのご注文となります）
          - @foods.limit(6).offset(14).each do |food|
            .item-box
              %p
                #{food.name}
              %p.price
                #{food.price}yen
          .list-title
            野菜
          .notice-text
            （二本からのご注文となります）
          - @foods.limit(5).offset(20).each do |food|
            .item-box
              %p
                #{food.name}
              %p.price
                #{food.price}yen
        .List-box
          .list-title
            串揚げ
          .notice-text
            （二本からのご注文となります）
          - @foods.limit(4).offset(25).each do |food|
            .item-box
              %p
                #{food.name}
              %p.price
                #{food.price}yen
          .list-title
            揚げ物
          - @foods.limit(5).offset(29).each do |food|
            .item-box
              %p
                #{food.name}
              %p.price
                #{food.price}yen
          .list-title
            お刺身
          - @foods.limit(3).offset(34).each do |food|
            .item-box
              %p
                #{food.name}
              %p.price
                #{food.price}yen
          .list-title
            一品料理
          - @foods.limit(12).offset(37).each do |food|
            .item-box
              %p
                #{food.name}
              %p.price
                #{food.price}yen
      .menu-sub-title
        ＜お飲み物＞
      .box-wrapper
        .List-box
          .list-title
            ビール(アサヒ)
          - @beers.each do |drink|
            .item-box
              %p
                #{drink.drink_name}
              %p.price
                #{drink.price}yen
          .list-title
            ワイン
          - @wines.each do |drink|
            .item-box
              %p
                #{drink.drink_name}
              %p.price
                #{drink.price}yen
          .list-title
            ソフトドリンク
          - @softdrinks.each do |drink|
            .item-box
              %p
                #{drink.drink_name}
              %p.price
                #{drink.price}yen
          .beer-sozai-wrapper
            =image_tag "beer_sozai.png", class: "beer_sozai"
        .List-box
          .list-title
            サワー類
          - @sours.each do |drink|
            .item-box
              %p
                #{drink.drink_name}
              %p.price
                #{drink.price}yen
      .notice-text
        ※表示価格は税別となります

= render "shared/footer"
= render "shared/back-to-top-button"